.kaki {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    background-color: #393e50;
}

.card-kepala {
    background-color: #333333;
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-kepalakonten {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #49787c;
    color: white;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.jumbotronbawah {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #333333;
    border-radius: 1px;
    height: 350px;
    color: white;
}

.navbar-form {
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    float: left;
}

.card-baru {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 3px;
}

.cayunhover img {
    -webkit-transform: scale(0.3);
    /*Webkit: Scale down image to 0.8x original size*/
    -moz-transform: scale(0.3);
    /*Mozilla scale version*/
    -o-transform: scale(0.3);
    /*Opera scale version*/
    -webkit-transition-duration: 9.9s;
    /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s;
    /*Mozilla duration version*/
    -o-transition-duration: 0.5s;
    /*Opera duration version*/
    opacity: 0.7;
    /*initial opacity of images*/
    margin: 0 10px 5px 0;
    /*margin between images*/
}

.cayunhover img:hover {
    -webkit-transform: scale(1.2);
    /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform: scale(1.4);
    /*Mozilla scale version*/
    -o-transform: scale(1.1);
    /*Opera scale version*/
    box-shadow: 0px 0px 30px blue;
    /*Kode Css3 untuk efek shadow*/
    -webkit-box-shadow: 0px 0px 30px blue;
    /*Untuk safari*/
    -moz-box-shadow: 0px 0px 30px blue;
    /*Untuk Mozilla*/
    opacity: 1;
}

.containerweb {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin: 10px;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
    background-color: #fff;
}

@media (min-width: 576px) {
    .containerweb {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .containerweb {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .containerweb {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .containerweb {
        max-width: 1140px;
    }
}

.containerweb-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.gariskotak {
    box-shadow: 1px;
    border: 1px solid #D0D0D0;
    margin: 5px;
}

.kepalakonten {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: red;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.widget-title-block .carousel-slider-wrapper .bx-controls {
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.widget-title-block .bx-next {
    float: right;
    position: relative;
    right: -40px;
}

.kotakhijau {
    padding: 8px;
    background-color: green;
    color: white;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.menu-malasngoding {
    background-color: #3141ff;
}

.menu-malasngoding ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-malasngoding>ul>li {
    float: left;
}

.menu-malasngoding li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-malasngoding li a:hover {
    background-color: #2525ff;
}

li.dropdown {
    display: inline-block;
}

.dropdown:hover .isi-dropdown {
    display: block;
}

.isi-dropdown a:hover {
    color: rgb(128, 48, 202) !important;
}

.isi-dropdown {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: #f9f9f9;
}

.isi-dropdown a {
    color: #3c3c3c !important;
}

.isi-dropdown a:hover {
    color: #232323 !important;
    background: #f3f3f3 !important;
}